# INDEX
- 1 - Arithmetic Operator Chart
- 2 - Assignment Operators Chart
- 3 - Comparison Operators Chart
- 4 - Logical Operators Chart
- 5 - Convert Data Type Chart
- 6 - Math Function Chart
- 7 - List Functions Chart
- 8 - Tuple Functions Chart
- 9 - Set Functions Chart
- 10 - Dictionary Functions Chart
- 11 - Data Structure Difference Chart
- 12 - Escape Characters Chart
- 13 - Operation Strings Chart
- 14 - Testing Functions Chart
- 15 - Formatting Functions Chart
- 16 - Stripping Functions Chart
- 17 - Splitting Functions Chart
- 18 - Searching Functions Chart
- 19 - String Functions (1) Chart
- 20 - String Functions (2) Chart
- 21 - Regular Expressions Chart
- 22 - Format String Chart
- 23 - Open File ’s Mode Chart

# 1- Arithmetic Operator Chart

In [86]:
x = 5
y = 10

In [87]:
# Addition Operator
x + y

15

In [88]:
# Subtraction Operator
x - y

-5

In [89]:
# Multiplication Operator
x * y

50

In [90]:
# Remainder Operator
x % y

5

In [91]:
# Integer Division Operator
x // y

0

In [92]:
# Exponentiation Operator
x ** y

9765625

# 2- Assignment Operators Chart

In [93]:
# += Operator
a = 10
b = 20
a += b

a

30

In [94]:
# -= Operator
a = 10
b = 20
a -= b

a

-10

In [95]:
# *= Operator
a = 10
b = 20
a *= b


a

200

In [96]:
# /= Operator
a = 10
b = 20
a /= b

a

0.5

In [97]:
# %= Operator
a = 10
b = 20
a %= b

a

10

In [98]:
# //= Operator
a = 10
b = 20
a //= b

a

0

In [99]:
# **= Operator
a = 10
b = 20
a **= b

a

100000000000000000000

# 3- Comparison Operators Chart
- After using comparison operators, the result will be true or false.

In [100]:
x = 10
y = 20

In [101]:
# > Operator: greater than
x > y

False

In [102]:
# < Operator: less than
x < y

True

In [103]:
# >= Operator: greater than or Equal
x >= y

False

In [104]:
# <= Operator: less than or Equal
x <= y

True

In [105]:
# == Operator: Equal
x == y

False

In [106]:
# != Operator: Not Equal
x != y

True

# 4- Logical Operators Chart
- After using logical operators, the result will be True or False.

In [107]:
# and Operator
a = 10
b = 20

a == 10 and b == 20 # True
a == 10 and b == 30 # False

False

In [108]:
# or Operator
a = 10
b = 20

a == 100 or b == 20 # True
a == 30 or b == 30 # False

False

In [109]:
# not Operator
a = 10
b = 20
isValid = True

not isValid # False
not a == b # True

True

# 5- Convert Data Type Chart

In [110]:
# int(x): Convert x to an Integer Number
number = "10"

int(number)

10

In [111]:
# str(x): Convert x to a String
number = 10

str(number)

'10'

In [112]:
# chr(x): Convert x to a Character
number = 100

chr(number)

'd'

In [113]:
# float(x:) convert x to a floating point number
number = 1000

float(number)

1000.0

In [114]:
# hex(x): convert x to a hexadecimal string
age = 26

hex(age)

'0x1a'

In [115]:
# oct(x) convert x to a an octal string
age = 26

oct(age)

'0o32'

In [116]:
# round(x) round a floating-point number x.
number = 4.5

round(number)

4

In [117]:
# type(x) detect x data type
name = 'Yassine'
age = 26
isMale = True


type(name) # sr
type(age) # int
type(isMale) # bool

bool

# 6- Math Function Chart

In [118]:
import math

In [119]:
# abs(n) absolute value of n
n = 10.100

abs(n)

10.1

In [120]:
# round(n) round off a floating number n
n = 9.89

round(n)

10

In [121]:
# ceil(n) ceiling of n
n = 4.1

math.ceil(n)

5

In [122]:
# floor(n) flooring of n
n = 4.90

math.floor(n)

4

In [123]:
# max(n, m) largest of n and m
n = 10
m = 20

max(n, m)

20

In [124]:
# min(n, m) smallest of n and m
n = 10
m = 20

min(n, m)

10

In [125]:
# degrees(n) convert n from radians to degrees
rad = 150

math.degrees(rad)

8594.366926962348

In [126]:
# log(n) base e logarithm of n
n = 3

math.log(n)

1.0986122886681098

In [127]:
# log(n, m) base m logarithm of n
n = 2
m = 3

math.log(n, m)

0.6309297535714574

In [128]:
# pow(n, m) n to the power of m
n = 2
m = 3

pow(n, m)

8

In [129]:
# sqrt(n) square root of n
n = 3

math.sqrt(n)

1.7320508075688772

In [130]:
# sin(n) sine of n
n = 10

math.sin(n)

-0.5440211108893698

In [131]:
# cos(n) cosine of n
n = 6

math.cos(n)

0.960170286650366

In [132]:
# tan(n) tangent of x
n = 4

math.tan(n)

1.1578212823495777

# 10- Data Structure Difference Chart

In [133]:
# List store multiple changeable values

myList = ['Jack', 'Eric', 'Brad', 'Andy', 'Yassine']

In [134]:
# Tuple store multiple unchangeable values

myTuple = ('Jeffry', 'Mick', 'Ralph', 'Stephane')

In [135]:
# Set store multiple unique values

mySet = {"BMW", "Ford", "Tesla", "BMW"}

In [136]:
mySet

{'BMW', 'Ford', 'Tesla'}

In [137]:
# Dictionary store multiple key: value pairs

myDictionary = {"name": 'Yassine', "age": 26}

# 7- List Functions Chart

In [138]:
# list. append(n) Append n to the end of list
l = [1, 2, 3, 4, 5]

l.append(10)
l

[1, 2, 3, 4, 5, 10]

In [139]:
# list. count(n) Count how many n
l = [1, 1, 2, 2, 3, 4, 5]

l.count(2)

2

In [140]:
# list. index(n) Return the index of n
l = [1, 2, 3, 4, 5]

l.index(3)

2

In [141]:
# list. insert(i,n) Insert n before index i
l = [1, 2, 3, 4, 5]

l.insert(2, 2.5)
l

[1, 2, 2.5, 3, 4, 5]

In [142]:
# list. pop(i) Remove & return the item at index i
l = [1, 2, 3, 4, 5]
item = l.pop(len(l) - 1)

item

5

In [143]:
# list. remove(n) Remove the n
l = [1, 2, 3, 4, 5]

l.remove(4)
l

[1, 2, 3, 5]

In [144]:
# list. reverse() Reverse the sequence of list
l = [1, 2, 3, 4, 5]

l.reverse()
l

[5, 4, 3, 2, 1]

In [145]:
# list. sort() Sort the element of list increasingly
l = [6, 3, 1, 0, 10]

l.sort()
l

[0, 1, 3, 6, 10]

In [146]:
# list extend(lst) Append each item of lst to list
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6]

# 8- Tuple Functions Chart

In [147]:
person = ( 'Yassine', 26, True )

In [148]:
# x in tpl : return true if x is in the tuple

'x' in person

False

In [149]:
'Yassine' in person

True

In [150]:
# len(tpl) return length of the tuple

len(person)

3

In [151]:
# tpl. count(x) count how many x in tuple

person.count('Yassine')

1

In [152]:
# tpl. index(x) return the index of x

person.index(True)

2

# 9- Set Functions Chart

In [153]:
fruits = {"Banana", "Apple","PineApple"}

In [154]:
# set. add(n) Add x to the set

fruits.add('Cherry')

fruits

{'Apple', 'Banana', 'Cherry', 'PineApple'}

In [155]:
# set. update(a, b, c) Add a, b, c to the set

fruits.update('A', 'B', 'C')

fruits

{'A', 'Apple', 'B', 'Banana', 'C', 'Cherry', 'PineApple'}

In [156]:
fruits2 = fruits.copy()

fruits2

{'A', 'Apple', 'B', 'Banana', 'C', 'Cherry', 'PineApple'}

In [157]:
# set. remove(n) Remove the item n

fruits.remove('A')
fruits

{'Apple', 'B', 'Banana', 'C', 'Cherry', 'PineApple'}

In [158]:
# set. pop( ) Remove one random item

fruits.pop()

'Apple'

In [159]:
# set1. intersection(set2) Return items in both sets

fruits.intersection(fruits2)

{'B', 'Banana', 'C', 'Cherry', 'PineApple'}

In [160]:
# set1. difference(set2) Return items in set1 not in set2

fruits.difference(fruits2)

set()

# 10 - Dictionary Functions Chart

In [161]:
person = {
    'name': 'Yassine',
    'profession': 'Full-Stack Engineer',
    'age': 26,
    'isMale': True,
}

In [162]:
# d. items( ) return key: value pairs of d

person.items()

dict_items([('name', 'Yassine'), ('profession', 'Full-Stack Engineer'), ('age', 26), ('isMale', True)])

In [163]:
# d. keys() return keys of d

person.keys()

dict_keys(['name', 'profession', 'age', 'isMale'])

In [164]:
# d. values() return values of d

person.values()

dict_values(['Yassine', 'Full-Stack Engineer', 26, True])

In [165]:
# d. get(key) return the values with specified key

person.get('name')

'Yassine'

In [166]:
# d. pop(key) remove key and return its value

person.pop('isMale')

True

In [167]:
# d. clear() remove all items of d

person.clear()

In [168]:
person

{}

In [169]:
person = {
    'name': 'Yassine',
    'profession': 'Full-Stack Engineer',
    'age': 26,
    'isMale': True,
}

In [170]:
# d. copy() copy all items of d

person2 = person.copy()

In [171]:
# d. setdefault(k,v) set key: value to d

person.setdefault('isHappy', True)

True

In [172]:
person

{'name': 'Yassine',
 'profession': 'Full-Stack Engineer',
 'age': 26,
 'isMale': True,
 'isHappy': True}

In [173]:
# d1. update(d2) add key: value in d1 to d2

person2.update(person)

In [174]:
person2

{'name': 'Yassine',
 'profession': 'Full-Stack Engineer',
 'age': 26,
 'isMale': True,
 'isHappy': True}

# 11 - Escape Characters Chart

In [175]:
# \\ escape backslash
print(' \\ ')

 \

In [176]:
# \’ escape single quote
print(' \' ')

 '

In [177]:
# \” escape double quote
print(" \" ")

 "

In [178]:
# \n new line
print('Hello \n World')

Hello
 World

In [179]:
# \r return
print(' Hello \r World ')

 World

In [180]:
# \t tab
print('Hello \t World')

Hello 	 World

# 12 - Operation Strings Chart

In [181]:
# + concatenate strings together
str1 = "Hello"
str2 = "World"

str1 + str2

'HelloWorld'

In [182]:
# * repeat a string
str1 * 2

'HelloHello'

In [183]:
# [key] return a character of the string

str1[0]

'H'

In [184]:
# [key1: key2] return characters from key1 to key2-1

str1[0:5]

'Hello'

In [185]:
# in check a character existing in a string

'H' in str1

True

In [186]:
# not in check a character not existing in a string

'M' not in str1

True

In [187]:
# ’’’ ’’’ describe a function, class, method…

# 13 - Testing Functions Chart

- Testing Functions return either True or False.

In [188]:
# isalpha() return true if all characters are letters

str1.isalpha()

True

In [189]:
# isdigit() return true if all characters are digits
nums = '1238123'

nums.isdigit()

True

In [190]:
# isdecimal() return true if all characters are decimals
decis = '1235'

decis.isdecimal()

True

In [191]:
# isalnum() return true if all characters are numbers or letters
numChar = '123ZHJK'

numChar.isalnum()

True

In [192]:
# islower() return true if all characters are lowercase
lowChars = 'hello world'

lowChars.islower()

True

In [193]:
# isupper() return true if all characters are uppercase
upChars = 'HELLO WORLD'

upChars.isupper()

True

In [194]:
# istitle() return true if the string is title-case string
titleCase = 'Hello World'

titleCase.istitle()

True

In [195]:
# isspace() return true if the string contains only whitespace
spaceChar = '   '

spaceChar.isspace()

True

# 14 - Formatting Functions Chart

In [196]:
# center(w, f) center string with width w and fill with f
charName = 'e'

charName.center(5, 's')

'ssess'

In [197]:
# ljust(w,f) left adjust string with width w and fill with f
charName = 'e'

charName.ljust(3, 'F')

'eFF'

In [198]:
# rjust(w,f) right adjust string with width w and fill with f
charName = 'e'

charName.rjust(3, 'F')

'FFe'

# 15 - Stripping Functions Chart

In [199]:
# strip() remove leading and trailing spaces
name = '   Yassine Msiah    '

name.strip()

'Yassine Msiah'

In [200]:
# lstrip() remove leading spaces
name = '   Yassine Msiah    '

name.lstrip()

'Yassine Msiah    '

In [201]:
# rstrip() remove trailing spaces
name = '   Yassine Msiah    '

name.rstrip()

'   Yassine Msiah'

# 16 - Splitting Functions Chart

In [202]:
# split(separator): split a string by a separator. (default whitespace as a separator)
text1 = 'Hello World My Name Is Yassine'

text1.split()

['Hello', 'World', 'My', 'Name', 'Is', 'Yassine']

In [203]:
text1 = 'Hello_World_My_Name_Is_Yassine'

text1.split('_')

['Hello', 'World', 'My', 'Name', 'Is', 'Yassine']

In [204]:
# partition(separator): partition a string with a separator into three parts. (head, separator, tail)
text2 = 'Hello World My Name Is Yassine'

text2.partition(' ')

('Hello', ' ', 'World My Name Is Yassine')

# 17 - Searching Functions Chart

In [205]:
# find(c) return the index of first occurrence, or -1
text1 = 'Lorem Ipsum is simply dummy text of the printing and typesetting industry'

text1.find('is')

12

In [206]:
# rfind(c) same as find(), but find from right to left
text1 = 'Lorem Ipsum is simply dummy text of the printing and typesetting industry'

text1.rfind('is')

12

In [207]:
# index(c) return the index of first occurrence, or alert error
text1 = 'Lorem Ipsum is simply dummy text of the printing and typesetting industry and'

text1.index('and')

49

In [208]:
# rindex(c) same as index(), but find from right to left

text1 = 'Lorem Ipsum is simply dummy text of the printing and typesetting industry and'

text1.rindex('and')

74

# 18 - String Functions (1) Chart

In [209]:
# replace(old, new) replace every old with new
text1 = 'Cats Will Be Cats'

text1.replace('Cats', 'Dogs')

'Dogs Will Be Dogs'

In [210]:
# count(ch) count the number of the characters
text1 = 'Cats Will Be Cats'

text1.count('Cats')

2

In [211]:
# capitalize() change the first letter to uppercase
text2 = 'hello world'

text2.capitalize()

'Hello world'

# 19 - String Functions (2) Chart

In [212]:
# separater. join() join the strings by separator
joinText = 'Cats Will Be Cats'

joinText.join('ZZ')

'ZCats Will Be CatsZ'

In [213]:
# str. swapcase() swap the letter case of the string
swapText = 'Hello World'

swapText.swapcase()

'hELLO wORLD'

In [214]:
# str. zfill(length) add zeros to the left of the string with length
fillText = 'Cats Will Be Cats'

fillText.zfill(4)

'Cats Will Be Cats'

# 20 -Regular Expressions Chart

In [215]:
import re

In [216]:
# ^ Matches beginning of the line.
txt = "The rain in Spain"
x = re.search("^The", txt)

if x:
    print('Yes it starts with The')
else:
    print('No it does NOT starts with The')

Yes it starts with The

In [217]:
# $ Matches end of line.
txt = "The rain in Spain"
x = re.search("Spain$", txt)

if x:
    print('Yes it Ends with Spain')
else:
    print('No it does NOT End with Spain')

Yes it Ends with Spain

In [218]:
# . Matches any single character.
txt = "qsd 23"
x = re.search(".", txt)

if x:
    print('Yes it Has characters')
else:
    print('No it does NOT have characters')

Yes it Has characters

In [219]:
# [...] Matches any single character in brackets.
txt = "qsd 23"
x = re.search("[99]", txt)

if x:
    print('Yes it Has characters')
else:
    print('No it does NOT have characters')

No it does NOT have characters

In [220]:
# [^...] Matches any single character not in brackets
txt = "qsd 23"
x = re.search("[^qsd 23]", txt)

if x:
    print('Yes it Has characters')
else:
    print('No it does NOT have characters')

No it does NOT have characters

In [221]:
# ? Matches 0 or 1 occurrence

In [222]:
# * Matches 0 or more occurrences

In [223]:
# { n} Matches exactly n number of occurrences
txt = "qsd 23"
x = re.search("q{2}", txt)

if x:
    print('Yes it Has characters')
else:
    print('No it does NOT have characters')

No it does NOT have characters

In [224]:
# { n, m} Matches at least n and at most m occurrences

In [225]:
# a | b Matches either a or b.
txt = "qsd 23"
x = re.search("a|qsd 23", txt)

if x:
    print('Yes it Has characters')
else:
    print('No it does NOT have characters')

Yes it Has characters

In [226]:
# (re) Groups regular expressions

# 21 - Format String Chart

In [227]:
# d integer
money = 26

print('i have %d dollars'% age)

i have 26 dollars

In [228]:
# f float
height = 12.5976

print('i have %f long arms '%height)

i have 12.597600 long arms

In [229]:
# s string
name = "Yassine"

print('My Name Is %s'% name)

My Name Is Yassine

In [230]:
# o octal value

In [231]:
# x hexadecimal value

In [232]:
# e exponential

# 22 - Open File’s Mode Chart

- The syntax to open a file looks like this:

open(filename, “mode”)

In [233]:
# https://stackoverflow.com/questions/53917479/valueerror-must-have-exactly-one-of-create-read-write-append-mode
# r open file for reading (default)
with open('./example.txt', 'r') as f:
    for x in f.readlines():
        print(x)

This Is My Awesome Read & Write

In [234]:
# w open file for writing
with open('./example.txt', 'w') as f:
    f.write('Hello World')

In [235]:
# a open file for appending
with open('./example.txt', 'a') as f:
    f.write('\nAppended Hello World')

In [236]:
# + open file for reading & writing
with open('./example.txt', 'r+') as f:
    f.write('This Is My Awesome Read & Write')
    for x in f.readlines():
        print(x)

Hello World

Appended Hello World

In [237]:
# b open file in binary mode
with open('./example.txt', 'rb') as f:
    print(f.readline())

b'Hello World\r\n'

In [238]:
# t open file in text mode
# b open file in binary mode
with open('./example.txt', 'rb') as f:
    print(f.readline())

b'Hello World\r\n'